.home-container {
  text-align: center;
  background-color: #e0f7fa; /* Light cyan background */
  color: #01579b; /* Dark blue text */
  padding: 20px;
}

.home-title {
  color: #0288d1; /* Bright blue title */
  font-size: 2.5em;
  margin-bottom: 20px;
}

.home-text {
  color: #0277bd; /* Medium blue text */
  font-size: 1.2em;
}

.center-image {
  display: block;
  margin: 20px auto;
  border-radius: 75%; /* Make the image circular */
  border: 3px solid #0288d1; /* Add a bright blue border to the image */
  width: 300px; /* Adjust the size of the image */
  height: 300px; /* Adjust the size of the image */
}